<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
{% seo %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#157878">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
  </head>
  <body>
    <header class="page-header" role="banner">
      <h1 class="project-name">{{ site.title }}</h1>
      <h2 class="project-tagline"><strong>Ute Becker</strong>, Fachärztin für Kinder- und Jugendmedizin, Neonatologie<br />
		<strong>Katrin Beckmann</strong>, Fachärztin für Kinder- und Jugendmedizin, Kinderkardiologie<br />
	        <strong>Dr. med. Thea Hitzemann-Becker</strong>, Fachärztin für Kinder- und Jugendmedizin (angestelle Fachärztin)</h2>
    </header>

    <main id="content" class="main-content" role="main">
      {{ content }}
	  
	  <footer class="site-footer">
		<span class="site-footer-links"><a href="/">Home</a> | <a href="/infos.html"><strong>Infos<strong></a> | <a href="/impressum.html">Impressum</a> | <a href="/datenschutz.html">Datenschutzerklärung</a></span>
	  </footer>
    </main>
  </body>
</html>
